
.page-login {
    background-image: linear-gradient(to right, #a4b357 32%, #a4b357 38%, #a0af50 43%, #639729 94%);

    .logo-login{
        background: none;
        width: 122px;
        height: 125px;
        margin-top: 25px;
    }

    .car-icon{
        padding-top: 25px;
        font-size: 120px;
        color: rgb(176, 243, 170);
    }

}
